name: ci
on: [push]

jobs:
  ubuntu:
    name: ${{ matrix.config.name }}-hosted-basic
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
            name: "Ubuntu 20.04-LTS",
            os: ubuntu-20.04,
            packages: "build-essential ccache cmake g++ gcc g++-multilib gcc-multilib libsdl2-dev libopenal-dev libsdl2-2.0-0:i386 libopenal1:i386 libgl1:i386"
            }

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - uses: lukka/get-cmake@latest

      - name: Install dependencies
        run: sudo dpkg --add-architecture i386 && sudo apt-get update -m && sudo apt-get install -y ${{ matrix.config.packages }}

      - name: Run CMake+gmake
        uses: lukka/run-cmake@v2
        id: runcmake
        with:
          cmakeGenerator: 'UnixMakefiles'
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/src/CMakeLists.txt'
          buildWithCMakeArgs: ''
          buildDirectory: '${{ runner.workspace }}/b/gmake/'

  windows:
    name: ${{ matrix.config.name }}-hosted-basic
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
            name: "Windows Server 2019",
            os: windows-2019,
            vcpkg: {
              triplet: x86-windows,
              commitId: '2020.04',
              packages: "sdl2 openal-soft"
            }
            }

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - uses: lukka/get-cmake@latest

      - name: Restore artifacts, or run vcpkg, build and cache artifacts
        uses: lukka/run-vcpkg@v3
        id: runvcpkg
        with:
          vcpkgArguments: '${{ matrix.config.vcpkg.packages }}'
          vcpkgTriplet: '${{ matrix.config.vcpkg.triplet }}'
          vcpkgDirectory: '${{ runner.workspace }}/b/vcpkg'
          vcpkgGitCommitId: '${{ matrix.config.vcpkg.commitId }}'

      - name: Run CMake+gmake
        uses: lukka/run-cmake@v2
        id: runcmake
        with:
          cmakeGenerator: 'VS16Win32'
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/src/CMakeLists.txt'
          buildWithCMakeArgs: ''
          buildDirectory: '${{ runner.workspace }}/b/gmake/'
